@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ramaraja&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-image: url('bg4.jpg');
    background-position: center;
    min-height: 50vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.logo{
    color: white;
    font-size: 1.5rem;
    /* font-weight: 200; */
    margin-left: 10px;
    cursor: pointer;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.list{
    color: white;
    list-style: none;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.list a{
    text-decoration: none;
    color: white;
}
input[type="search"]{
    border: 2px solid black;
    border-radius: 8px;
    outline: none;
    /* font-size: 15px; */
}

input::placeholder{
    padding: 10px;
}
.fa-search:before{
    color: white;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 18px;
}
.burger{
    display: none;
}
.section1{
    height: 500px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1 main{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    color: white;
    font-family: 'Ramaraja', serif;
    text-align: center;
    margin-top: 20px;
    font-size: 55px;
}

.title span{
    color: rgba(238, 95, 131, 0.849);
}

.p{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 8px;
}

.btn{
    width: 40%;
    margin-top: 10px;
    cursor: pointer;
    background:none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.btn:hover{
    background-color: rgb(59, 57, 57);
    color: black;
    font-weight: bold;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.section2{
    background-color: #050505;
    min-width: 100vw;
}
.flex h2{
    color: white;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.input{
    margin-bottom: 20px;
    width: 30%;
    background: none;
    font-size: 15px;
    border-radius: 18px;
    outline: none;
    border: 4px solid wheat;
    padding: 8px;
    color: white;
}

.input::placeholder{
    color: white;
    padding: 20px;
}

.flex p{
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.line{
    color: black;
    width: 60%;
    border: 1.5px solid rgb(214, 203, 203);
    margin-bottom: 7px;
    background-color: rgb(230, 218, 218);
}
.section3{
    background-color: rgb(243, 232, 219);

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form h2{
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}
form input,textarea{
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    font-size: 15px;
}

.btns{
    /* height: 50px; */
    width: 150px;
    padding: 5px;
    margin-bottom: 30px;
    background: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.btns:hover{
    background-color: #050505;
    color: white;
    transform: scale(120%);
}
.section4{
    background-color: hsl(0, 73%, 68%);
    height: 500px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 200px;
    background-color: rgb(45, 45, 167);
    border-radius: 18px;
    position: absolute;
    margin-top: 10%;
    margin-left: 43%; 
    
}
.card img{
    position: relative;
    top: -130px;
    width: 120px;
    margin-top: 15px;
    height: 130px;
    border-radius: 50%;
}
.fa{
    margin-right: 5px;
    margin-left: 10px;
}
.fa-facebook-official:before,
.fa-linkedin-square:before,
.fa-pinterest:before,
.fa-instagram:before{
    font-size: 25px;  
}

.card p{
    color: white;
    text-align: center;
    margin-top: -60px;   
    margin-bottom: 15px; 
    padding: 5px;
}

.footer{
    background: #050505;
}
.footer main{
    height: 30px;
}
.footer main p{
    color: white;
    text-align: center;
    position: relative;
    top: 5px;
}


